body
{
    background-color:#303030;
    color:white;
    font-family: 'Montserrat';
}

#container
{
    width:1000px;
    margin-left:200px;
    margin-right:auto;
    float:left;
}
#container2
{
    width: 89%;
    min-height:100vh;
    align-items:center;
    justify-content:center;
    padding:50px;
}


#logo
{
    width:930;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:40px;
    padding:10px;
    line-height:50px;
    float:left;
}

#time
{
    width:930;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:40px;
    padding:10px;
    line-height:50px;
    float:right;
}

.link
{
    width: 150px;
    height:30px;
    padding:10px;
    text-align:center;
    line-height:30px;
    outline:auto;
    float:left;
}


#content
{
    width:750px;
    height:650px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding:10px;
    float:left;
}

#content2
{
    width:750px;
    height:1010px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding:10px;
    float:left;
}

#content3 
{
    margin-top: 10px;
    display:grid; 
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap:30px
}

#content3 img
{
    width:100%;
}

a:hover
{
    color:white;
    text-decoration:none;
}

a:visited
{
    color:white;
    text-decoration:none;
}

a:link
{
    color:white;
    text-decoration:none;
}

#png
{
    margin-left:10px;
    float:left;
}

.link:hover
{
    background-color:#202020;
}


#gif
{
    width:200px;
    height:400px;
    float:left;
}

.foto
{
    width:300px;
    height:300px;
    float:left;
    margin-left:15px;
    margin-top:15px;
}
